.cta {
  h2 {
    min-width: 300px;
  }

  .block-editor-inner-blocks {
    .wp-block-button {
      margin: 0 !important;
    }
  }
}

.editor-styles-wrapper {

  .cta__content h2 {
    margin-bottom: 0;
  }
}
