.accordion-header {
  background-color: #fafbfc;
  padding: 1rem 2.5rem 1rem 1rem;
  margin-bottom: 1rem;
  position: relative;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;

  h5 {
    margin: 0;
    font-size: inherit;
  }

  &:after {
    content: "\f077";
    position: absolute;
    right: 1rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    transition: transform 0.3s ease-in-out;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
  }

  &.collapsed {
    &:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.accordion-collapse {
  padding: 0 1rem;
}

.accordion-body {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .accordion-header {
    padding: 1.2rem 5.2rem 1.2rem 3.2rem;
    margin-bottom: 1.3rem;
    font-size: 1.5rem;

    h5 {
      margin: 0;
      font-size: inherit;
    }

    &:after {
      right: 3.2rem;
    }
  }

  .accordion-collapse {
    padding: 0 3.2rem;
  }

  .accordion-body {
    padding-bottom: 1.3rem;
  }
}
