.post-filter {
  img {
    height: auto;
  }
  .grid {
    > .grid-item {
      display: none;
      &.show {
        display: block;
      }
    }
  }
  .grid-item {
    width: 100%;
    margin-bottom: 30px;
    @media (min-width: 576px) {
      width: 50%;
    }
    @media (min-width: 992) {
      width: 33.33%;
    }
  }

  .filter-tabs {
    &.tab-left {
      justify-content: flex-start;
    }
    &.tab-center {
      justify-content: center;
    }
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 15px;
    .filter {
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  .filter-tabs-mobile {
    .post-filter-mobile-toggle {
      i {
        transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &.active {
        i {
          transform: rotate(180deg);
          transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }
    .filter-tabs-content {
      // display: none;
      &.hide {
        display: none;
      }
      > a {
        display: block;
        cursor: pointer;
      }
    }
  }
}
