.fancy-heading {
  p {
    display: inline-block;
    font-size: 1rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.5em;
  }

  h2 {
    margin-bottom: 0;
  }
}

.fancy-heading.aligncenter {
  text-align: center;
}

.fancy-heading.alignright {
  text-align: right;
}

@media (min-width: 576px) {
  .fancy-heading {
    p {
      font-size: 1.25rem;
    }
  }
  .fancy-heading.has-button {
    display: flex;
    justify-content: space-between;

    .wp-block-button {
      text-align: right;
    }
  }
}
