.vc-cards {
  .card {
    max-width: none;
    padding: 0;
  }

  .block-list-appender {
    margin: 0;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .block-editor-block-list__layout {
    margin-left: 0;
    margin-right: 0;
  }

  > div > div > .block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
  }

  .has-2-columns > div > .block-editor-block-list__layout > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .has-3-columns > div > .block-editor-block-list__layout > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .has-4-columns > div > .block-editor-block-list__layout > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .has-5-columns > div > .block-editor-block-list__layout > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.wp-block[data-type="vc-blocks/card"].is-selected,
.wp-block[data-type="vc-blocks/card"].has-child-selected {
  .card.activateOverlay .card-content {
    .card-body {
      top: 0;

      .wp-block-group {
        opacity: 1;
      }
    }

    .has-dark-background-color {
      background-color: var(--bs-primary);
      --overlayDimRatio: 0.8 !important;
    }
  }
}
