.vc-cards {
  .card {
    &.activateOverlay {
      position: relative;
      overflow: hidden;

      &:hover {
        .card-content {
          &.slide-in-text-top {
            top: 0;
          }

          &.slide-in-text-bottom {
            top: 0;
          }

          &.slide-in-text-left {
            left: 0;
          }

          &.slide-in-text-right {
            left: 0;
          }
        }
      }

      .card-content {
        &.slide-in-text-top {
          height: 100%;
          width: 100%;
          top: -100%;
          transition: 0.5s ease;
        }

        &.slide-in-text-bottom {
          height: 100%;
          width: 100%;
          top: 100%;
          transition: 0.5s ease;
        }

        &.slide-in-text-left {
          height: 100%;
          width: 100%;
          left: -100%;
          transition: 0.5s ease;
        }

        &.slide-in-text-right {
          height: 100%;
          width: 100%;
          left: 100%;
          transition: 0.5s ease;
        }

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .backgroundOverlay {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: var(--overlayDimRatio);
          z-index: 1;
        }

        .card-body {
          position: absolute;
          z-index: 2;
          width: 100%;
        }
      }

      .card-body > div {
        .vc-card-content {
          // opacity: var(--overlayDimRatio);
          // &:before {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   bottom: 0;
          //   right: 0;
          //   background-color: inherit;
          //   z-index: 0;
          // }
          position: absolute;
          padding: 1rem;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    // border: 0;
    background-position: center;
    background-size: cover;

    > * {
      position: relative;

      //background-color: #fff;
    }
  }
}

.vc-cards.vc-cards--center {
  > .row {
    justify-content: center;
  }
}
