#video-modal {
  .modal-content {
    border-radius: 0;
    border: 0;
  }
  .modal-body {
    position: relative;
    padding: 0;
  }

  .btn-close {
    position: absolute;
    right: 0;
    top: -36px;
    z-index: 999;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
    background-color: #fff;
    border-radius: 0;
  }
}
