.slider-wrapper {
  .wp-block {
    @extend .swiper-slide;
  }
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-active {
  outline: 1px solid red;
}

.components-button.is-destructive.has-icon {
  background-color: red;
  color: white;
}

div.block-editor-block-contextual-toolbar[data-type="vc-blocks/swiper"] {
  margin-left: 15px;
}
