/*.vc-tab {
  background-color: salmon;
}*/

.wp-block-vc-blocks-tabs {
  padding-top: 10px;

  .nav-tabs {
    position: static !important;
    background-color: #424242;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .nav-link {
    min-width: 100px;
    position: relative;

    .remove-tab {
      position: absolute;
      display: none;
      right: -7px;
      top: -2px;
      background-color: darkred;
      color: #fff;
      width: 18px;
      height: 18px;
      line-height: 1;
      text-align: center;
      border-radius: 50%;
      z-index: 1;
    }
  }

  .nav-link.active {
    .remove-tab {
      display: block;
    }
  }

  .tab-content {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        > .block-list-appender {
          position: absolute;
          top: 6px;
          right: -12px;

          .block-editor-button-block-appender {
            padding: 10px;
          }
        }
      }
    }
  }
}
