.vc-mailchimp-block {
  label {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    overflow: hidden;
    display: inline-block !important;
  }
  div[aria-hidden="true"] {
    position: absolute;
    left: -5000px;
  }
}
