.editor-styles-wrapper {
  .wp-block-vc-blocks-swiper-slider {
    .swiper-wrapper {
      display: block;
      height: auto;
    }

    .swiper-slide {
      height: auto;
    }

    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
  }

  .wp-block-vc-blocks-swiper-single-slide {
    min-height: 200px;
  }
}

.wp-block[data-align="full"] {
  .block-editor-inner-blocks {
    .block-editor-block-list__layout .wp-block {
      max-width: none;
    }
  }
}

.vc-button-group-wrap {
  position: relative;

  .components-button-group {
    position: absolute;
    right: 0;
    top: -5px;
  }
  .components-button.is-small {
    padding: 0 5px;
  }
}

