.wp-block-vc-blocks-swiper-slider {
  position: relative;
}

.wp-block-vc-blocks-swiper-single-slide {
  position: relative;
}

.swiper-slide__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
  }

  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #2B2B2B;
    font-size: 4rem;
    transition: font-size .2s ease-in-out;
    &:hover {
      font-size: 4.5rem;
    }
  }
}

.swiper-slide__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.swiper-gallery {
  .swiper-slide__img {
    position: static;
    text-align: center;

    img {
      object-fit: none;
      width: auto;
      height: auto;
    }
  }
}
