.social-dragging {
  list-style: none;
}

.wp-block-vc-blocks-team-members {
  display: block;
  margin-left: 0;
  margin-right: 0;

  @for $i from 1 through 6 {
    &.has-#{$i}-columns {
      div[data-type="vc-blocks/team-member"] {
        width: calc(100% / #{$i});
      }
    }
  }

  > .editor-inner-blocks > .editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;

    div[data-type="vc-blocks/team-member"] {
      margin: 0;
    }

    .block-list-appender {
      width: 100%;
    }
  }
}

.wp-block-vc-blocks-team-member {
  margin: 0;
  width: auto !important;
}
