/**
* common css for all blocks only for backend.
*/

.editor-styles-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;

  .wp-block {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-block[data-align=full], .wp-block.alignfull {
    max-width: none;
  }

  .block-editor-block-list__layout.is-root-container {
    > div[data-align=full] {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}

.wp-block[data-align="full"] {
  .wp-block-vc-blocks-video-banner {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.full-width {
  margin-left: 0;
  margin-right: 0;
  max-width: inherit;
  width: inherit;
  left: 0;
  right: 0;
}

//this fixes the issue where th cover block has very large height
.page-header {
  height: auto;
}

@media (min-width: 600px) {

}

@media (min-width: 600px) {
  .block-editor-block-list__layout
  .block-editor-block-list__block[data-align="full"] {
    .row-full {
      max-width: 100%;
      margin: 0;
    }
  }
}

.slider-wrapper {
  .wp-block {
    @extend .swiper-slide;
  }
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
