.wp-block-vc-blocks-pricing-table-item {
  text-align: center;
}

.pricing-table__header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.pricing-table__features {
  list-style: none;
  padding-left: 0;
  li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.pricing-table__price,
.pricing-table__specialPrice {
  font-size: 1.5rem;
  line-height: 1;
}

.pricing-table__price--line {
  text-decoration: line-through;
}

@media (min-width: 480px) {
  .wp-block-vc-blocks-pricing-table {
    display: flex;
    flex-wrap: wrap;

    > div {
      flex: 0 0 50%;
      max-width: 50%;

      > * {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media (min-width: 768px) {
  .wp-block-vc-blocks-pricing-table {
    &.has-5-columns {
      > div {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
      }
    }
  }
}

@media (min-width: 992px) {
  .wp-block-vc-blocks-pricing-table {
    display: flex;
    flex-wrap: wrap;

    &.has-3-columns {
      > div {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
      }
    }

    &.has-4-columns {
      > div {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    &.has-5-columns {
      > div {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
}
