.editor-styles-wrapper {
  .wp-block-vc-blocks-pricing-table-item {
    ul {
      list-style: none;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

.wp-block-vc-blocks-pricing-table {
  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout {
      display: flex;

      > div {
        margin-left: 0;
        width: 100%;
      }
    }

    &.has-2-columns {
      .block-editor-block-list__layout {
        > div {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }

    &.has-3-columns {
      .block-editor-block-list__layout {
        > div {
          flex: 0 0 33.33333333%;
          max-width: 33.33333333%;
        }
      }
    }

    &.has-4-columns {
      .block-editor-block-list__layout {
        > div {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }

    &.has-5-columns {
      .block-editor-block-list__layout {
        > div {
          flex: 0 0 20%;
          max-width: 20%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .wp-block-vc-blocks-pricing-table {
    display: block;

    > div {
      max-width: none !important;
    }
  }
}
