.img-text {
  .block-editor-block-list__layout
  .block-editor-default-block-appender
  > .block-editor-default-block-appender__content,
  .block-editor-block-list__layout
  > .block-editor-block-list__block
  > .block-editor-block-list__block-edit,
  .block-editor-block-list__layout
  > .block-editor-block-list__layout
  > .block-editor-block-list__block
  > .block-editor-block-list__block-edit {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .img-text {
    overflow: hidden;
  }
}
