.img-text,
.img-text__content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .img-text__inner {
    display: flex;

    > * {
      flex: 0 0 50%;
      &:first-child {
        padding-right: 1rem;
      }
      &:last-child {
        padding-left: 1rem;
      }
    }
    .order-md-2 {
      padding-right: 0;
      padding-left: 1rem;

      + div {
        padding-right: 1rem;
        padding-left: 0;
      }
    }
  }
  .img-text.img-text--sameHeight {

    .img-text__media {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .img-text__content {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 767px) {
  .img-text__content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
